@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&family=Ubuntu:wght@300&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size:1.5rem;
}

.container{
    height: 100vh;
    
}

header{
    background-color: rgb(86, 68, 247);
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

a{
    text-decoration: none;
}
h3{
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    }
h3:hover{
    color:rgb(252, 135, 226);
}
.left-header h3{
    margin:0 10rem;

}

.right-header a h3{
    color:#000;
    margin:0 10rem;
    border-bottom: .1rem solid rgb(160, 160, 160);
    padding: 1.2rem;
    background-color: #fff;
    border-radius: .8rem;
}

.right-header a h3:hover{
    color:rgb(252, 135, 226);
}
/* Main sectiion */
main{
  /* background-color: chartreuse; */
  display: flex;
  justify-content: center;
  margin-top:1.7rem;
  min-height: 75%; 
}

table, td, th {
    border: .1rem solid rgb(160, 160, 160);
   border-collapse: collapse;
  }

  table {
    width: 80%;
  }

  th,td{
      padding: 1rem;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Ubuntu', sans-serif;
      border-collapse: inherit;
      border:none;
     border-bottom: .1rem solid rgb(160, 160, 160);
  }
  th{
      background-color: rgb(255, 20, 90);
  }

  

/* Footer */
  footer{
      height: 2.2rem;
      text-align: center;
      font-size: 2rem;
  }

  .fa-pencil-alt{
     margin-right: 0.9rem;
     font-size: 1.7rem;
     color:rgb(6, 221, 42);
  }

  .fa-trash{
    font-size: 1.7rem;
    color:rgb(126, 128, 127);
  }

  .actionicon{
      opacity: 0;
  }

  tr:hover .actionicon{
   opacity: 1;
}


/* Create Contact */

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:75%;
    /* background-color: aqua; */
    width: 50vw;
    margin:auto;
    margin-top:5rem ;
}

.contact-c{
    border:1px solid rgb(207, 207, 207);

}

.contact-c h4{
    background-color: rgb(221, 214, 214);
    letter-spacing: 0.1rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
}

.input-field input{
    width: 80rem;
    margin: 1rem;
    height: 3.4rem;
    border-color: rgb(219, 219, 219);
    outline: none;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

button{
    margin: 1rem;
    padding: 1rem;
    color:#fff;
    background-color: rgb(30, 61, 236);
    outline: none;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

.delete-all{
    font-size: 2rem;
    text-align: center;
       border: 1px solid rgb(180, 180, 173);
       margin-left: 13rem;
       padding: .9rem;
       background-color: rgb(243, 39, 39);
       color: #fff;
       border-radius: 0.5rem;
       letter-spacing: 0.2rem;
       font-family: 'Ubuntu', sans-serif;
       cursor: pointer;
}


@media(max-width:58rem){
    .left-header h3{
        margin:0 ;
        display: block;
    }

    html{
        font-size:45%;
    }

    header{
        display: flex;
        margin-bottom: 5rem;
    }
    .left-header h3{
        margin:1rem;
    
    }

    .right-header a h3{
        color:#000;
        margin:1rem;
        border-bottom: .1rem solid rgb(160, 160, 160);
        padding: 1rem;
        background-color: #fff;
        border-radius: .8rem;
    }
}